.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureSvg *[stroke] {
  stroke: var(--theme-text-primary-normal);
}

.featureSvg *[fill] {
  fill: var(--theme-text-primary-normal);
}
